* {
    margin: 0%;
    padding: 0%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #fff;    
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-left: 100px;
}

.body {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.body-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.body-left h2 {
    padding-top: 80px;
    color: #fff;
    font-size: 36px;
}

.body-left p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.body-left button {
    width: 100px;
    padding: 5px 15px;
    background-color: #2882f6;
    border-radius: 5px;
    border-style: none;
    color: #fff
}

.body-right {
    display: flex;
    align-items: center;
    width: 50%;
}

.body-right img {
    width: 50%;
}

